<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609023991162-jb2thno9fnsbt9j529b6c9ko352pcvak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609023991162-jb2thno9fnsbt9j529b6c9ko352pcvak</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>609023991162-5ubvopv9d8qodr370ib5e6i2tad2kkd6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBK-bwlFqyL2ZglHPFbU3SoFMbKyfSxLTg</string>
	<key>GCM_SENDER_ID</key>
	<string>609023991162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shriswapra.ethiopiansocial</string>
	<key>PROJECT_ID</key>
	<string>ethiopiansocial-5e067</string>
	<key>STORAGE_BUCKET</key>
	<string>ethiopiansocial-5e067.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609023991162:ios:7e7084a6f5edd3bd7e8ac3</string>
</dict>
</plist>