<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394777516054-uspe0qlsefnpdnu1elvoi9afotl5g5ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394777516054-uspe0qlsefnpdnu1elvoi9afotl5g5ag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>394777516054-14e8c5uot4g9jet91hhahf46stopr3o2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhxGV4pnHt7hYexRDCMc_mvGKkt0DNweo</string>
	<key>GCM_SENDER_ID</key>
	<string>394777516054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shriswapra.trulyblack</string>
	<key>PROJECT_ID</key>
	<string>trulyblack-f5627</string>
	<key>STORAGE_BUCKET</key>
	<string>trulyblack-f5627.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394777516054:ios:e93ea01ec9f7fcfa7e7d37</string>
</dict>
</plist>