<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519900212025-4utpj85p2vib8vbhvl36s18eedduut46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519900212025-4utpj85p2vib8vbhvl36s18eedduut46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519900212025-18v26t3htav7sr36308o6vus19be0q6j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcO_kNvh8ninTEZZnLKIG7LSd7CYilBJc</string>
	<key>GCM_SENDER_ID</key>
	<string>519900212025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shriswapra.bella</string>
	<key>PROJECT_ID</key>
	<string>bella-e93f4</string>
	<key>STORAGE_BUCKET</key>
	<string>bella-e93f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519900212025:ios:5f130217302cfdbc7096e8</string>
</dict>
</plist>